.recipeInfo {
	display: flex; 
}
.recipeInfoChild {
	flex: 1; 
	border: 2px solid yellow;
}

.recipeInfoChild:first-child {
	margin-right: 20px;
}

.recipeInfoLeft{
	display: flex;
	flex-direction: column;
}

.recipeInfoLeftChild{
	flex: 1; 
	border: 2px solid rgb(0, 217, 255);
}

.recipeIngredients{
	display: flex; 
	flex-direction: column;
}

.prepTime {
	display: flex;
	flex-direction: row;
	align-items: center; 
	gap: 0.5rem;
}

/* .checkbox {
	display: inline-block;
  	zoom: 1;
}

.checkbox > label {
  display: flex;
  flex-direction: row;
} */